{% extends "base.html" %}
{% load static %}
{% block content %}




    <!-- Introduction Section -->
    <section id="about" class="py-5 text-center bg-light" style="background-image: url('{% static 'images/bajhang.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;color: #ffffff; filter: brightness(150%);">
    <div class="container">
        <h1 class="display-4">Welcome to Bajhang</h1>
        <p class="lead">Discover the hidden beauty of Bajhang, a district in Nepal filled with breathtaking landscapes, cultural heritage, and adventurous destinations.</p>
    </div>
    </section>


{% endblock %}
